.hero{
    background-color: aquamarine;
    height: 450px;
    
}
.read-news{
    border: none!important;
}

.hero-bg{
    background-image: url("img/3.jpeg");
    padding-top: 10%;
}

.about{
    margin-left: 10%;
    margin-top: 20%;
    text-align: center;
    
}

.form{
    margin-left: auto;
}
.contact-form{
    margin-top: 79px;
}