.hero{
    /* background-color: aquamarine; */
    height: 470px;
    /* opacity: 0.5; */
}
.read-news{
    border: none!important;
}

.hero-bg{
    background-image: url("img/news-bg.jpg");
    background-repeat: no-repeat;
    opacity: 0.2;
    background-size: cover;
    opacity: 3;
    padding-top: 10%;
}

.about{
    margin-left: 10%;
    margin-top: 20%;
    text-align: center;
    
}

.form{
    margin-left: auto;
}
.contact-form{
    margin-top: 79px;
}

.hero-business img{
    width: 100%;
}

.sample-news b ,h6{
    color: gray;
}

.sample-news h4{
    color: gray;
}
.nav-link{

    font-size: 15px!important;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
}
